@model Search.Core.Windows.Models.Query
@if (Model != null)
{
    <!-- items being paged -->
    <ul>
        @foreach (var item in Model.SearchResults.Items)
        {
            <li class="search-item">
                <a class="btn btn-info glyphicon glyphicon-info-sign" title="Details" asp-action="Details" asp-controller="SearchResult" asp-route-_index="@item.Index" asp-route-_type="@item.Type" asp-route-_id="@item.Id" data-toggle="modal" data-target="#editDialog" , data-loading-text="Loading..." />
                Index: @item.Index; Type: @item.Type; Score: @item.Score;
                @if (item.Extension.ToLower() == "pdf")
                {
                    <img id="Content" src="~/images/pdf.gif" alt="Image" />
                }
                else
                {
                    <label class="@item.Extension">@item.Extension</label>
                }
                @if (!string.IsNullOrEmpty(item.Path))
                {
                    <a title="@item.Path.Replace("/", "\\")" class="glyphicon glyphicon-open-file" href='file:///@item.Path.Replace("\\", "/")'>Open</a>
                }
            </li>
        }
    </ul>

    <!-- pager -->
    @if (Model.SearchResults.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.SearchResults.Pager.CurrentPage > 1)
            {
                <li>
                    <a href="../Query/Index?term=@(Uri.EscapeUriString(Model.QueryTerm))&options=@(Model.ChosenOptions)">First</a>
                </li>
                <li>
                    <a href="../Query/Index?page=@(Model.SearchResults.Pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (var page = Model.SearchResults.Pager.StartPage; page <= Model.SearchResults.Pager.EndPage; page++)
            {
                <li class="@(page == Model.SearchResults.Pager.CurrentPage ? "active" : "")">
                    <a href="../Query/Index?term=@(Uri.EscapeUriString(Model.QueryTerm))&options=@(Model.ChosenOptions)&page=@page">@page</a>
                </li>
            }

            @if (Model.SearchResults.Pager.CurrentPage < Model.SearchResults.Pager.TotalPages)
            {
                <li>
                    <a href="../Query/Index?term=@(Uri.EscapeUriString(Model.QueryTerm))&options=@(Model.ChosenOptions)&page=@(Model.SearchResults.Pager.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a href="../Query/Index?term=@(Uri.EscapeUriString(Model.QueryTerm))&options=@(Model.ChosenOptions)&page=@(Model.SearchResults.Pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
}