@*@model Nest.ISearchResponse<dynamic>*@
@model IEnumerable<Search.Core.Windows.Models.SearchResult>
@if (Model != null)
{
    @foreach (var item in Model)
    {
        <li class="search-item" title="@item.Tootip">
            <button title="details" class="details glyphicon glyphicon-pencil" asp-controller="SearchResults" asp-action="Details" asp-route-id="@item.Id" asp-route-index="@item.Index"></button>
            Index: @item.Index; Type: @item.Type; Score: @item.Score;
            @if(item.Type == "file")
            {
                <a title="@item.Path.Replace("/", "\\")" class="glyphicon glyphicon-file" href='file:///@item.Path.Replace("\\", "/")' ></a><br />
            }
            else if (item.Type == "photo")
            {
                <a title="@item.Path.Replace("/", "\\")" class="glyphicon glyphicon-picture" href='file:///@item.Path.Replace("\\", "/")'></a><br />
            }

            @*@if (item.Highlights.Count > 0)
                {
                    <ul>
                        @foreach (var highlight in item.Highlights)
                        {
                            <li>Key: @highlight.Key; Value: @highlight.Value </li>
                        }
                    </ul>
                }*@
        </li>
    }
    <li><a class="jscroll-next" hidden href="../Query/Scroll?from=@(ViewBag.From)&term=@(Uri.EscapeUriString(ViewBag.QueryTerm))&options=@(Uri.EscapeUriString(ViewBag.ChosenOptions))">End of page...</a></li>
}