@*@model Nest.ISearchResponse<dynamic>*@
@model IEnumerable<Search.Core.Windows.Models.SearchResult>
@if (Model != null)
{
    @foreach (var item in Model)
    {
        <li class="search-item">
            <a class="btn btn-info glyphicon glyphicon-info-sign" title="Details" asp-action="Details" asp-controller="SearchResult" asp-route-_index="@item.Index" asp-route-_type="@item.Type" asp-route-_id="@item.Id" data-toggle="modal" data-target="#editDialog" , data-loading-text="Loading..." />
            Index: @item.Index; Type: @item.Type; Score: @item.Score;
            @if (item.Extension.ToLower() == "pdf")
            {
                <img id="Content" src="~/images/pdf.gif" alt="Image" />
            }
            else
            {
                <label class="@item.Extension">@item.Extension</label>
            }
            @if (!string.IsNullOrEmpty(item.Path))
            {
                <a title="@item.Path.Replace("/", "\\")" class="glyphicon glyphicon-open-file" href='file:///@item.Path.Replace("\\", "/")'>Open</a>
            }
            <br /><span class="small">@Html.Raw(item.Summary)</span>
        </li>
    }
    <li><a class="jscroll-next" hidden href="../Query/Scroll?from=@(ViewBag.From)&term=@(Uri.EscapeUriString(ViewBag.QueryTerm))&options=@(Uri.EscapeUriString(ViewBag.ChosenOptions))">End of page...</a></li>
}