@model Search.Core.Windows.Models.SearchResult
@{
    ViewData["Title"] = "Result Details";
}

<div class="form-horizontal">
    <h4>Document: @Model.Index/@Model.Type/@Model.Id</h4>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#General" role="tab" data-toggle="tab">General</a></li>
        <li><a href="#MLT" role="tab" data-toggle="tab">More like this</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="General">
            <div class="col-lg-12 col-md-12">
                @if (!string.IsNullOrEmpty(Model.Path) && Model.CanRead)
                {
                    <div class="form-group">
                        <div class="col-lg-2">
                            <label asp-for="Path"></label>
                        </div>
                        <div class="col-lg-10">
                            <a href="@Html.Raw(Model.NavigatePath)" target="_self">@Model.PrettyPath</a>
                            @if (Model.Extension.ToLower() == "pdf")
                            {
                                <img id="Content" src="~/images/pdf.gif" alt="Image" />
                            }
                            else
                            {
                                <label class="@Model.Extension">@Model.Extension</label>
                            }
                        </div>
                    </div>
                    if (Model.LastModified > DateTime.Today.AddYears(-20))
                    {
                        <div class="form-group">
                            <label class="col-lg-2" asp-for="LastModified"></label>
                            <div class="col-lg-10">
                                @Model.LastModified
                            </div>
                        </div>
                    }
                    if (Model.Type == "photo" || !string.IsNullOrEmpty(Model.ThumbnailPath))
                    {
                        <div class="form-group">
                            <label class="col-lg-2">Photo</label>
                            <div class="col-lg-10">
                                @if (!string.IsNullOrEmpty(Model.ThumbnailPath))
                                {
                                    <img id="Content" class="file-image" title="@Model.PrettyPath" src="@(Model.ThumbnailPath.StartsWith("http") ? Model.ThumbnailPath : "~"+Model.ThumbnailPath)" alt="Image" />
                                }
                                else
                                {
                                    <img id="Content" class="file-image" title="@Model.PrettyPath" src="data:image/@Model.Extension;base64,@Convert.ToBase64String(Model.Content,0,Model.Content.Length)" alt="Image" />
                                }
                            </div>
                        </div>
                    }
                }
                <div class="form-group">
                    <label class="col-lg-2" asp-for="Source"></label>
                    <div class="col-lg-10">
                        @*<pre id="json" class="small">@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.None))</pre>*@
                        <pre class="small json">@Html.Raw(Model.Source.Replace("\r\n", " ").Trim())</pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="MLT">
            <div class="col-lg-12 col-md-12">
                <ul class="list-unstyled">
                    @foreach (var item in Model.MoreLikeThis)
                        {
                        <li class="search-item">
                            @*<a class="btn btn-info glyphicon glyphicon-info-sign" title="Details" asp-action="Details" asp-controller="SearchResult" asp-route-_index="@item.Index" asp-route-_type="@item.Type" asp-route-_id="@item.Id" data-toggle="modal" data-target="#editDialog" , data-loading-text="Loading..." ></a>*@
                            Index: @item.Index; Type: @item.Type; Score: @item.Score;
                            @if (!string.IsNullOrEmpty(item.Path) && item.CanRead)
                            {
                                @if (item.Extension.ToLower() == "pdf")
                                {
                                    <img id="Content" src="~/images/pdf.gif" alt="Image" />
                                }
                                else
                                {
                                    <label class="@item.Extension">@item.Extension</label>
                                }
                                <a title="@item.PrettyPath" class="glyphicon glyphicon-open-file" href="@Html.Raw(item.NavigatePath)" target="_self">Open</a>
                            }
                            <br /><span class="small">@Html.Raw(item.Summary)</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*$(document).ready(function () {
    }*@
}
