@model Search.Core.Windows.Models.SearchResult
@{
    ViewData["Title"] = "Result Details";
}

<div class="form-horizontal">
    <h4>Document: @Model.Index/@Model.Type/@Model.Id</h4>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#General" role="tab" data-toggle="tab">General</a></li>
        <li><a href="#MLT" role="tab" data-toggle="tab">More like this</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="General">
            <div class="col-lg-12 col-md-12">
                @if (Model.Type == "file" || Model.Type == "photo")
                {
                    <div class="form-group">
                        <div class="col-lg-2">
                            <label asp-for="Path"></label>
                            @if (Model.Extension.ToLower() == "pdf")
                            {
                                <img id="Content" src="~/images/pdf.gif" alt="Image" />
                            }
                            else
                            {
                                <label class="@Model.Extension">@Model.Extension</label>
                            }
                        </div>
                        <div class="col-lg-10">
                            <a href='file:///@Model.Path.Replace("\\", "/")'>@Model.Path.Replace("/", "\\")</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2" asp-for="LastModified"></label>
                        <div class="col-lg-10">
                            @Model.LastModified
                        </div>
                    </div>
                    if (Model.Type == "photo")
                    {
                        <div class="form-group">
                            <label class="col-lg-2">Photo</label>
                            <div class="col-lg-10">
                                @if (!string.IsNullOrEmpty(Model.ThumbnailPath))
                                {
                                    <img id="Content" class="file-image" title="@Model.Path" src="@Model.ThumbnailPath" alt="Image" />
                                }
                                else
                                {
                                    <img id="Content" class="file-image" title="@Model.Path" src="data:image/@Model.Extension;base64,@Convert.ToBase64String(Model.Content,0,Model.Content.Length)" alt="Image" />
                                }
                            </div>
                        </div>
                    }
                }
                <div class="form-group">
                    <label class="col-lg-2" asp-for="Summary"></label>
                    <div class="col-lg-10">
                        <span>@Model.Summary</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="MLT">
            <div class="col-lg-12 col-md-12">
                <ul class="list-unstyled">
                    @foreach (var item in Model.MoreLikeThis)
                    {
                        <li class="search-item">
                            @*<a class="btn btn-info glyphicon glyphicon-info-sign" title="Details" asp-action="Details" asp-controller="SearchResult" asp-route-_index="@item.Index" asp-route-_type="@item.Type" asp-route-_id="@item.Id" data-toggle="modal" data-target="#editDialog" , data-loading-text="Loading..." ></a>*@
                            Index: @item.Index; Type: @item.Type; Id: @item.Id;
                            <label class="@item.Extension">@item.Extension</label>
                            @if (!string.IsNullOrEmpty(item.Path))
                            {
                                <a title="@item.Path.Replace("/", "\\")" class="glyphicon glyphicon-open-file" href='file:///@item.Path.Replace("\\", "/")'>Open</a>
                            }
                            <br /><span class="small">@Html.Raw(item.Summary)</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
