@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
@*<h3>@ViewData["Message"]</h3>*@

<ul>
    <li><b>Author: </b>@Environment.GetEnvironmentVariable("Author", EnvironmentVariableTarget.User)</li>
    <li><b>Wiki: </b>@Environment.GetEnvironmentVariable("Wiki", EnvironmentVariableTarget.User)</li>
    <li><b>Support: </b>@Environment.GetEnvironmentVariable("Support", EnvironmentVariableTarget.User)</li>
</ul>
